*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

/* ====================== spinner ============================ */

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* .loader {
    width: 35px;
    aspect-ratio: 1;
    --c1:linear-gradient(90deg,#0000 calc(100%/3),#046D8B 0 calc(2*100%/3),#0000 0);
    --c2:linear-gradient( 0deg,#0000 calc(100%/3),#046D8B 0 calc(2*100%/3),#0000 0);
    background: var(--c1),var(--c2),var(--c1),var(--c2);
    background-size: 300% 4px,4px 300%;
    background-repeat: no-repeat;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    0%   {background-position: 50%  0,100% 100%,0    100%,0 0}
    25%  {background-position: 0    0,100% 50% ,0    100%,0 0}
    50%  {background-position: 0    0,100% 0   ,50%  100%,0 0}
    75%  {background-position: 0    0,100% 0   ,100% 100%,0 50%}
   75.01%{background-position: 100% 0,100% 0   ,100% 100%,0 50%}
    100% {background-position: 50%  0,100% 0   ,100% 100%,0 100%}
  } */
/* ==================== start nave ===========================*/

.icon-open{

    font-size: 25px;
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;

}

.close-btn{
    position: relative;
    cursor: pointer;
}

.close-btn i{
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.sidebar{
    width: 260px;
    height: 100%;
    background-color: rgb(6, 8, 8);
    position: fixed;
    z-index: 9999;
    transition: transform 0.5s , color 0.4s;
    transform: translateX(0);
}

.sidebar .box-pages ol{
    list-style-type: none;
}

.sidebar .box-pages ol li {
    cursor: pointer;
}


/* ==================== end nave ===========================*/

/* ==================== start home ===========================*/

.home .item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.home .item .item-caption{
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(219, 219, 219, 0.699);
    color: black;
    transform: translateY(110%);
    transition: transform 1s;
    cursor: pointer;
}

.home .item img{
    transition: top 1s;
}

.home .item:hover  .item-caption{
    transform: translateY(0);
    
}

/* ==================== end home ===========================*/


/* =================== start category ======================*/

.item-category{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.item-category .caption-category{
    background-color:#f7f5f4bb;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(110%);
    transition: transform 1s;
    cursor: pointer;
}

.item-category:hover .caption-category {
    transform: translateY(0%);
    
}

.caption-category h3{
    font-size: 28px;
    font-weight: 500;
    color: black;
}

.caption-category p{
    font-size: 16px;
    color: black;
}

/* =================== end category ======================*/

/* =================== start area ======================*/

.item-area i{
    font-size: 64px;
    font-weight: 700;
}

.item-area h3{
    font-size: 28px;
    font-weight: 500;
}

/* =================== end area ======================*/

/* =================== start ingredients ======================*/

.item-ingredients{
    cursor: pointer;
}

/* =================== end ingredients ======================*/

